<% include ./partials/header %> 

  <div id="Section-3" class="example-applicationspage bluebackground-applicationspage">
    <div class="example-body-applications minheight-applications perspective--bottom--applications">
      <div data-ix="responsive-image-open" class="responsiveimageopen-applications"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a396_xblock-04-mobile.png.pagespeed.ic.MgMyu72UCJ.png" class="mobileimg"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a397_xblock-04-pop-a.png.pagespeed.ic.puMUe5-2nw.png" class="_3dimagelayer-1a"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a398_xblock-04-desktop.png.pagespeed.ic.biPhfTfniS.png" width="307" class="desktopimg"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a39a_xblock-04-pop-b.png.pagespeed.ic.8XtDQ9QcmM_1.png" class="_3dimagelayer-2b"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a399_xblock-04-pop-c.png.pagespeed.ic.aMGEKfPoYo_1.png" class="_3dimagelayer-2c"></div>
    </div>
  </div>
  <div class="coversection-applications"><div class="covercontainer-applications w-container"><div data-ix="cover-subtitle-appear" class="cover-subtitle" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg); transform-style: preserve-3d; transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;">View what we can make possible with your application. Add a whole new dimension to your website or app with our developers that help you create 3D CSS customization for your customers.</div><div data-ix="cover-cta-appear" class="cover-cta" style="opacity: 1; transform: translateX(0px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg); transform-style: preserve-3d; transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out;"><a href="/listings" class="button-cta w-button">ExotiVentures Application</a><a href="/connect" class="button-cta w-button">Plans</a><a href="#Section-2" data-ix="arrow-appear" class="go-down-link w-inline-block" style="transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s, opacity 1500ms ease-in-out; opacity: 1;"><img src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a375_white-down-arrow-png-2%5B1%5D.png" width="50" data-ix="arrowhovereffect"></a></div><div data-duration-in="800" data-duration-out="800" data-easing="ease-in-quint" class="w-tabs"><div class="tabs-menu-2 w-tab-menu"><a data-w-tab="Tab 1" class="tab-link w-inline-block w-tab-link"><div class="text-block-6">ExotiVentures</div></a><a data-w-tab="Tab 2" class="tab-link w-inline-block w-tab-link"><div class="text-block-7">Spotify Prototype</div></a><a data-w-tab="Tab 3" class="tab-link w-inline-block w-tab-link"><div>Apple Prototype</div></a><a data-w-tab="Tab 4" class="tab-link w--current w-inline-block w-tab-link"><div>Oculus Touch Prototype</div></a></div><div class="w-tab-content"><div data-w-tab="Tab 1" class="w-clearfix w-tab-pane"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04bb71b12683000102adc4_Untitledrhiojiog43qhigoeriheo.png" width="883" srcset="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04bb71b12683000102adc4_Untitledrhiojiog43qhigoeriheo-p-500.png 500w, https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04bb71b12683000102adc4_Untitledrhiojiog43qhigoeriheo.png 750w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 883px" class="image-9"><a href="http://exotiventures.webflow.io/" class="button-2 w-button">View Site</a></div><div data-w-tab="Tab 2" class="w-clearfix w-tab-pane"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04be45c1ec6100019408bd_Untitledrhiojiog43qhigoeriheo2.png" width="883" srcset="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04be45c1ec6100019408bd_Untitledrhiojiog43qhigoeriheo2-p-500.png 500w, https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04be45c1ec6100019408bd_Untitledrhiojiog43qhigoeriheo2.png 750w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 883px" class="image-10"><a href="http://charless-radical-project.webflow.io/" class="button-2 w-button">View Site</a></div><div data-w-tab="Tab 3" class="w-clearfix w-tab-pane"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04bf39a16e66000180ac1f_Untitledrhiojiog43qhigoeriheo3.png" width="883" srcset="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04bf39a16e66000180ac1f_Untitledrhiojiog43qhigoeriheo3-p-500.png 500w, https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04bf39a16e66000180ac1f_Untitledrhiojiog43qhigoeriheo3.png 750w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 883px" class="image-11"><a href="http://charless-apple-slider-build.webflow.io/" class="button-2 w-button">View Site</a></div><div data-w-tab="Tab 4" class="w--tab-active w-clearfix w-tab-pane"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04c5e6c1ec610001941aaa_Untitledrhiojiog43qhigoeriheo4.png" width="883" srcset="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04c5e6c1ec610001941aaa_Untitledrhiojiog43qhigoeriheo4-p-500.png 500w, https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04c5e6c1ec610001941aaa_Untitledrhiojiog43qhigoeriheo4.png 750w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 95vw, 883px" class="image-12"><a href="http://charless-oculus-touch-project.webflow.io/" class="button-2 w-button">View Site</a></div></div></div></div></div>
  <div id="Section-2" class="mainsection-applications dark-applications">
    <div class="sectionheader">
      <h2 class="sectiontitle">See what is possible with 3D interaction</h2><a href="#Section-3" data-ix="arrow-appear" class="go-down-link paddingfixforarrow w-inline-block"><img src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a375_white-down-arrow-png-2%5B1%5D.png" width="50" data-ix="arrowhovereffect"></a>
      <div class="text-block-2">Use our developer teams to make a 3-D interactive web application for your business, with innovative smooth digital transitions.</div>
      <div class="row-2 w-row">
        <div class="w-col w-col-4">
          <div class="transformexample">
            <div data-ix="basic-move" class="transformcontainer">
              <div class="transformgroup">
                <div class="transformbox_1"></div>
                <div class="transformbox_2"></div>
                <div class="transformbox_3 inv"></div>
              </div>
            </div>
            <h1 class="transformexample-title">Move in 3D</h1>
            <div class="transformexample-subtitle">Layered elements between each other into a page.</div>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="transformexample">
            <div data-ix="basic-rotate" class="transformcontainer">
              <div class="transformgroup">
                <div class="transformbox_1 inv"></div>
                <div class="transformbox_2 colorgn"></div>
                <div class="transformbox_3 inv"></div>
              </div>
            </div>
            <h1 class="transformexample-title">Twist in 3D</h1>
            <div class="transformexample-subtitle">Create a rotating effect on your web application content.</div>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="transformexample">
            <div data-ix="basic-perspective" class="transformcontainer">
              <div class="transformgroup">
                <div class="transformbox_1"></div>
                <div class="transformbox_2 colorbl"></div>
                <div class="transformbox_3 colorbl2"></div>
              </div>
            </div>
            <h1 class="transformexample-title">Apply Perspective</h1>
            <div class="transformexample-subtitle">Increase interactivity within your application by making it&#x27;s content intensify.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include ./partials/footer %> 
