<% include ./partials/header %>

<body class="body">
  <div data-ix="hide-on-load" class="floating-nav">
    <div class="nav-container w-clearfix"><a href="#" class="navbar-logo w-inline-block w-clearfix"><img src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a37b_LocationTech_Logo%5B1%5D.png" width="57" data-ix="floating-nav-logo-hover-flip" class="navbar-logo floating"></a>
      <div class="floatingnavfixedtext">Bringing Technology to Life</div>
    </div>
  </div>
  <div id="coverSection" class="coversection">
    <div class="covercontainer w-container">
      <h1 data-ix="cover-title-appear" class="cover-title w-hidden-tiny">Custom 3D <br>Visual<br>Animations</h1>
      <h1 data-ix="cover-title-appear" class="cover-title w-hidden-main w-hidden-medium w-hidden-small">BUILD 3D <br>Visual<br>Animations</h1>
      <h1 data-ix="mrgi-usa-float" class="mrgi">MRGI USA</h1>
      <div data-ix="cover-subtitle-appear" class="cover-subtitle">Turning Ideas Into Solutions, Logic Into Software, And Opportunities To Life.</div>
      <div data-ix="cover-cta-appear" class="cover-cta"><a href="connect.html" class="button-cta w-button">Plans</a><a href="#Section-2" class="button-cta secondary w-button">See How It Works</a><a href="/applications" class="button-cta secondary w-button">Sample Applications</a><a href="#Section-2" data-ix="arrow-appear" class="go-down-link w-inline-block"><img src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a37c_592ff5b9723a917fb93de6ca_arrow-down%5B1%5D.svg" width="50" data-ix="arrowhovereffect"></a></div>
    </div>
  </div>
  <div id="Section-2" class="mainsection dark">
    <div class="sectionheader">
      <h2 class="cover-subtitle">See what is possible with 3D interaction</h2><a href="#Section-3" data-ix="arrow-appear" class="go-down-link paddingfixforarrow w-inline-block"><img src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a375_white-down-arrow-png-2%5B1%5D.png" width="50" data-ix="arrowhovereffect"></a>
      <div class="text-block-2">Use our developer teams to make a 3-D interactive web application for your business, with innovative smooth digital transitions.</div>
      <div class="row-2 w-row">
        <div class="w-col w-col-4">
          <div class="transformexample">
            <div data-ix="basic-move" class="transformcontainer">
              <div class="transformgroup">
                <div class="transformbox_1"></div>
                <div class="transformbox_2"></div>
                <div class="transformbox_3 inv"></div>
              </div>
            </div>
            <h1 class="transformexample-title">Move in 3D</h1>
            <div class="transformexample-subtitle">Layered elements between each other into a page.</div>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="transformexample">
            <div data-ix="basic-rotate" class="transformcontainer">
              <div class="transformgroup">
                <div class="transformbox_1 inv"></div>
                <div class="transformbox_2 colorgn"></div>
                <div class="transformbox_3 inv"></div>
              </div>
            </div>
            <h1 class="transformexample-title">Twist in 3D</h1>
            <div class="transformexample-subtitle">Create a rotating effect on your web application content.</div>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="transformexample">
            <div data-ix="basic-perspective" class="transformcontainer">
              <div class="transformgroup">
                <div class="transformbox_1"></div>
                <div class="transformbox_2 colorbl"></div>
                <div class="transformbox_3 colorbl2"></div>
              </div>
            </div>
            <h1 class="transformexample-title">Apply Perspective</h1>
            <div class="transformexample-subtitle">Increase interactivity within your application by making it&#x27;s content intensify.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Section-3" class="example bluebackground">
    <div class="example-body minheight perspective--bottom">
      <div data-ix="example-header-appear" class="example-header w-container">
        <h5 class="example-subtitle">Responsive content</h5>
        <h2 class="example-title">Done right</h2><a href="#Section-4-main" data-ix="arrow-appear" class="go-down-link w-inline-block"><img src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a375_white-down-arrow-png-2%5B1%5D.png" width="50" data-ix="arrowhovereffect"></a></div>
      <div class="showcase-container w-container">
        <div data-ix="example-showcase" class="showcase-wrapper">
          <div class="showcase-desktopwrapper">
            <div data-ix="showcase-initial-appernce" class="showcase-desktop w-hidden-small w-hidden-tiny"></div>
          </div>
          <div class="showcase-tabletwrapper">
            <div data-ix="showcase-initial-appernce" class="showcase-tablet"></div>
          </div>
          <div class="showcase-mobilewrapper">
            <div data-ix="showcase-initial-appernce" class="showcase-mobile"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Section-4-main" class="example greenbackground">
    <div class="example-body layer-perspective">
      <div data-ix="example-header-appear" class="example-header w-container">
        <h5 class="example-subtitle">Customized Responsive Layering</h5>
        <h2 class="example-title">3-D Layering solutions</h2><a href="#Section-5" data-ix="arrow-appear" class="go-down-link w-inline-block"><img src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a375_white-down-arrow-png-2%5B1%5D.png" width="50" data-ix="arrowhovereffect"></a></div>
      <div data-ix="layer-animation" class="layered-container"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a392_566fb9dc1b4525b47c0c254b_3d_layer%25201%5B1%5D.svg" class="layer-1"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a391_566fb9dc1b4525b47c0c254c_3d_layer%25202%5B1%5D.svg" class="layer-2"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a390_566fb9dc1b4525b47c0c254d_3d_layer%25203%5B1%5D.svg" class="layer-3"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a378_566fb9dc1b4525b47c0c254e_3d_layer%25204%5B1%5D.svg" class="layer-4"></div>
    </div>
  </div>
  <div id="Section-5" class="example purplebackground">
    <div class="example-body perspective">
      <div class="example-header w-container">
        <h5 class="example-subtitle">Customize INteractive ability</h5>
        <h2 class="example-title">Enhance User Experiences</h2><a href="#Section-6" data-ix="arrow-appear" class="go-down-link w-inline-block"><img src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a375_white-down-arrow-png-2%5B1%5D.png" width="50" data-ix="arrowhovereffect"></a></div>
      <div class="cards w-row">
        <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
          <div data-ix="example-card-flip" class="card">
            <div data-ix="example-card-appear-1" class="cardflip">
              <div class="cardflip-side front"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a37e_566fb9dc1b4525b47c0c2514_cardflip-front-diamond%5B1%5D.svg" class="cardflip-image cardflipfront"></div>
              <div class="cardflip-side back"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a393_566fb9dc1b4525b47c0c2515_cardflip-back%5B1%5D.svg" class="cardflip-image"></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
          <div data-ix="example-card-flip" class="card">
            <div data-ix="example-card-appear-2" class="cardflip">
              <div class="cardflip-side front"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a394_566fb9dc1b4525b47c0c2510_cardflip-front-circle%5B1%5D.svg" class="cardflip-image cardflipfront"></div>
              <div class="cardflip-side back"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a393_566fb9dc1b4525b47c0c2515_cardflip-back%5B1%5D.svg" class="cardflip-image"></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
          <div data-ix="example-card-flip" class="card">
            <div data-ix="example-card-appear-3" class="cardflip">
              <div class="cardflip-side front"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a38f_566fb9dc1b4525b47c0c2512_cardflip-front-triangle%5B1%5D.svg" class="cardflip-image cardflipfront"></div>
              <div class="cardflip-side back"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a393_566fb9dc1b4525b47c0c2515_cardflip-back%5B1%5D.svg" class="cardflip-image"></div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6">
          <div data-ix="example-card-flip" class="card">
            <div data-ix="example-card-appear-4" class="cardflip">
              <div class="cardflip-side front"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a38e_566fb9dc1b4525b47c0c2511_cardflip-front-square%5B1%5D.svg" class="cardflip-image cardflipfront"></div>
              <div class="cardflip-side back"><img src="https://daks2k3a4ib2z.cloudfront.net/5a04b009b12683000102a365/5a04b009b12683000102a393_566fb9dc1b4525b47c0c2515_cardflip-back%5B1%5D.svg" class="cardflip-image"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Section-6" class="example blue">
    <div class="example-body miniheight">
      <div data-ix="example-header-appear" class="example-header isometric-paddingheaderfix w-container">
        <h5 class="example-subtitle">Isometric Angling</h5>
        <h2 class="example-title">Show off your app with angled-effects</h2><a href="#Section-7" data-ix="arrow-appear" class="go-down-link paddingfixforarrow w-inline-block"><img src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a375_white-down-arrow-png-2%5B1%5D.png" width="50" data-ix="arrowhovereffect"></a></div>
      <div data-ix="example-isometric" class="isometriccontainer">
        <div class="isometric-col-1">
          <div data-ix="isometrichover" class="isometric-item"></div>
          <div data-ix="isometrichover" class="isometric-item"></div>
          <div data-ix="isometrichover" class="isometric-item"></div>
        </div>
        <div class="isometric-col-2">
          <div data-ix="isometrichover" class="isometric-item"></div>
          <div data-ix="isometrichover" class="isometric-item"></div>
          <div data-ix="isometrichover" class="isometric-item"></div>
        </div>
        <div class="isometric-col-3">
          <div data-ix="isometrichover" class="isometric-item"></div>
          <div data-ix="isometrichover" class="isometric-item"></div>
          <div data-ix="isometrichover" class="isometric-item"></div>
        </div>
        <div class="isometric-col-4">
          <div data-ix="isometrichover" class="isometric-item"></div>
          <div data-ix="isometrichover" class="isometric-item"></div>
          <div data-ix="isometrichover" class="isometric-item"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="Section-7" class="example greenbackgrounddark">
    <div class="example-body perspective miniheightnumber2">
      <div data-ix="example-header-appear" class="example-header w-container">
        <h5 class="example-subtitle">Geometric view customization</h5>
        <h2 class="example-title">Put your Content in Into perspective</h2><a href="#Section-8" data-ix="arrow-appear" class="go-down-link paddingfixforarrow section7fix w-inline-block"><img src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a375_white-down-arrow-png-2%5B1%5D.png" width="50" data-ix="arrowhovereffect"></a></div>
      <div data-ix="example-tilt" class="tiltcontainer w-container">
        <div class="tilt-desktop"></div>
        <div class="tilt-tablet"></div>
        <div class="tilt-mobile"></div>
      </div>
    </div>
  </div>
  <div id="Section-8" class="example fadedtealbackground">
    <div class="example-body perspective miniheightnumber2 w-clearfix">
      <div data-ix="example-header-appear" class="example-header w-container">
        <h5 class="example-subtitle">2-d image rendering into 3-d CAPABILITY</h5>
        <h2 class="example-title">Think Outside the Box</h2><a href="#coverSection" data-ix="arrow-appear" class="go-down-link paddingfixforarrow w-inline-block"><img src="http://uploads.webflow.com/5a04b009b12683000102a365/5a04b009b12683000102a375_white-down-arrow-png-2%5B1%5D.png" width="50" data-ix="arrowhovereffect" class="bottomarrow"></a></div>
      <div class="cubewrapper">
        <div data-ix="example-cube" class="_3dcube">
          <div class="_3dcube-back"></div>
          <div class="_3dcube-top"></div>
          <div class="_3dcube-right"></div>
          <div class="_3dcube-left"></div>
          <div class="_3dcube-bottom"></div>
          <div class="_3dcube-front"></div>
        </div>
      </div><a href="connect.html" class="button-cta quotecta w-button">Plans</a></div>
  </div>
  
  
  
  
  <% include ./partials/footer %>