.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.blah {
    margin-top: 10px;
    margin-left: 10px;
}

.img-Landing {
    width: 40%;
}